{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def sort_by_ext(files: list[str]) -> list[str]:
    # your code here
    return []
{% endblock start %}

{% block example %}
print('Example:')
print(sort_by_ext(['1.cad', '1.bat', '1.aa']))
{% endblock %}

# These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
assert {% block call %}sort_by_ext({{t.input|p_args}}){% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}