<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Тобі даний {% if is_js %}масив{% else %}список{% endif %} файлів. Потрібно відсортувати його за розширенням файлів. 
    Файли з однаковим розширенням (або без нього) повинні сортуватися за іменем.
</p>
<p>Окремі можливі випадки:</p>
<ul>
    <li>Файл не може бути порожнім рядком;</li>
    <li>Порядок сортування: файли без імені, файли без розширення, файли з іменем та розширенням;</li>
    <li>Файли <b class="code">.config</b> або <b class="code">config.</b> це все ім'я з порожнім розширенням;</li>
    <li>Файли виду <b class="code">str1.str2.str3</b> мають розширення <b class="code">str3</b> і ім'я <b class="code">str1.str2</b>;</li>
    <li>Файли виду <b class="code">.str1.str2</b> мають розширення <b class="code">str2</b> і ім'я <b class="code">.str1</b>.</li>
</ul>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sort-ext.svg" alt="example" style="max-height: 200px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} рядків. 
</p>
<p>
    <strong>Output:</strong> {% if is_js %}Масив{% else %}Список{% endif %} рядків.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
