<!-- Describe task in general -->

<p>
    You are given {% if is_js %}an <span translate="repeat">array</span>{% else %}a <span translate="repeat">list</span>{% endif %} of files. You need to sort this {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} by the file extension. The files with the same extension (or without one) should be sorted by name.
</p>

<p>Some possible cases:</p>
<ul>
    <li>Filename cannot be an empty string;</li>
    <li>Sorting order: files without name, files without extension, files with name and extension;</li>
    <li>Filename <b class="code">.config</b> or <b class="code">config.</b> is all name with an empty extension;</li>
    <li>Filename like <b class="code">str1.str2.str3</b> has an extension <b class="code">str3</b> and a name <b class="code">str1.str2</b>;</li>
    <li>Filename like <b class="code">.str1.str2</b> has an extension <b class="code">str2</b> and a name <b class="code">.str1</b>.</li>
</ul>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}<span translate="repeat">Array</span>{% else %}<span translate="repeat">List</span>{% endif %} of <span translate="repeat">strings</span>. 
</p>
<p>
    <strong>Output:</strong> {% if is_js %}<span translate="repeat">Array</span>{% else %}<span translate="repeat">List</span>{% endif %} of <span translate="repeat">strings</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
