<!-- Describe task in general -->

<p>
    Sie erhalten eine Folge von Dateien als Strings. Sie müssen diese Folge nach der Dateierweiterung sortieren. Die Dateien mit der gleichen Erweiterung (oder ohne) sollten nach Namen sortiert werden.
</p>

<p>Einige mögliche Fälle:</p>
<ul>
    <li>Dateiname kann keine leere Zeichenkette sein;</li>
    <li>Sortierreihenfolge: Dateien ohne Namen, Dateien ohne Erweiterung, Dateien mit Namen und Erweiterung;</li>
    <li>Dateiname <b class="code">.config</b> oder <b class="code">config.</b> sind alle Namen mit einer leeren Erweiterung;</li>
    <li>Dateiname wie <b class="code">str1.str2.str3</b> hat eine Erweiterung <b class="code">str3</b> und einen Namen <b class="code">str1.str2</b>;</li>
    <li>Ein Dateiname wie <b class="code">.str1.str2</b> hat eine Erweiterung <b class="code">str2</b> und einen Namen <b class="code">.str1</b>.</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> von Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>
<p>
   <strong>Ausgabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> von Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
